.navBg {
  height: 60px;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 1;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.solidBg {
  background: #fffcfc;
}
